.btn__login{
    width: auto;
    height: 30px;
    object-fit: contain;
    position: fixed;
    top:62px;
    transition-delay: 200ms;
}
.hi{
    position: relative;
    object-fit: contain;
    width: 40%;
    top: 20%;
    left: 24%;
}
.div__form{
    width: 100%;
    border: 3px solid rgb(11, 48, 69);
    padding-bottom: 2%;
    border-radius: 10px;
    background-color: white;

}
.login__title{
    padding: 2%;
    display: flex;
    justify-content: center;
}
.div__form input {
    width: 90%;
    height: 33px;
    border-radius: 5px;
    border: 1px solid rgb(254, 150, 150);
    padding-left: 5%;
    margin-left: 3%;
}
.form__group{
    display: flex;
    align-items: center;
    margin: 3% 1%;
}
.form__body{
    margin: 0% 5%;
}
.form__group span{
    width: 100px;
}
.form__footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
}
/* .close__btn{
    position: relative;
    bottom: 0%;
    right: -79%;
    width: 20%;
    height: 30px;
    background-color: rgb(119, 156, 226);
    margin-top: 2%;
} */

.form__footer button{
    width: 85px;
    height: 30px;
    margin: 1%;
}
.form__footer button:hover{
    transition-timing-function: linear;
    background-color: rgb(188, 23, 23);
    color: white;
}